<section class="site-footer-section">
  <div class="card-footer">
    <hr>
    <h4>
      <img src="<%= botClient.user.displayAvatarURL({ size: 256 }) %>" alt="<%= botClient.user.username %>" style="width: 38px; border-radius: 50%; margin-right: 8px; vertical-align: middle;">
      <span><%= botClient.user.username %> | Experiencia Completa para Servidores</span>
    </h4>
    <h5>
      <small style="color:#7ea7c0;">&copy; <%= new Date().getFullYear() %> KING. Todos os direitos reservados.</small>
    </h5>
  </div>
</section>
